<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-info rounded shadow-sm">
  <%= fa_icon "user", class: "icons" %>
  <div class="lh-100">
    <h6 class="mb-0 text-white lh-100 name"><%= current_user.name %></h6>
    <small>
      <%= link_to "#{current_user.followers.count} Followers", followers_user_path(current_user), class: "text-white-50"%> |
      <%= link_to "#{current_user.following.count} Following", following_user_path(current_user), class: "text-white-50" %>
    </small>
  </div>
</div>

<%= render 'shared/post_form' %>
