<% provide :title, "#{@user.name}"  %>

<div class="bg-light">
  <main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-info rounded shadow-sm">
      <div class="lh-100">
        <h1 class="mb-0 text-white lh-100 name"><%= @user.name %></h1>
        <h5>
          <%= render 'shared/friendship_stats' %>
        </h5>
      </div>
    </div>

    <%= render 'follow_and_unfollow_form' %>

    <% if @user.posts.any? %>
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h5 class="border-bottom border-gray pb-2 mb-0 text-secondary"><em><%= pluralize(@user.posts.count, "post") %></em></h5>
          <%= render @posts %>
          <%= paginate @posts %>
      </div>
    <% end %>
  </main>
</div
